* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      color: #FFA500;
      font-family: 'Times New Roman', Times, serif;
  }

  header {
      padding: 20px 35px;
      background-color: #FFA500;
  }

  header h1 {
      font-weight: bold;
      font: 36px;
      color: #0000FF;
      margin: 0;
      display: inline;
  }

  header a {
      text-decoration: none;
      color: #0000FF;
  }

  header nav{
      float: right;
      margin: 7px 0;
  }

  header nav ul li {
      display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  footer {
      background: #0000FF;
      width: 100%;
      padding: 40px 35px;
  }

  footer h2 {
    display: inline;
    color: #FFD700;
    font-size: 30px;
    margin: 0;
  }
  


  footer div {
      float: right;
      line-height: 1.5;
      text-align: right;
  }

  footer a{
      color: #0000FF;
  }

  section {
    padding: 60px;
  }

  .intro {
    text-align: center;
  }
  
  .intro p {
    line-height: 1.7;
    color: #FFA500;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .steps {
    text-align: center;
    background: #0000FF;
  }
  
  .steps div {
    margin-bottom: 80px;
  }
  
  .steps img {
    width: 15%;
    margin: 10px 0;
  }
  
  .steps h3 {
    color: #FFD700;
    font-size: 46px;
    margin-top: 10px;
  }
  
  .steps p {
    color: #FFA500;
    font-size: 23px;
  }
  
  .steps span {
    font-size: 38px;
  }
  
  .section-title {
    font-size: 55px;
    color: #FFA500;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: #FFD700;
  }
  
  .secondary-border {
    border-color: #FFA500;
  }
  