* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      color: #FFA500;
      font-family: 'Times New Roman', Times, serif;
  }

  header {
      padding: 20px 35px;
      background-color: #FFA500;
  }

  header h1 {
      font-weight: bold;
      font: 36px;
      color: #0000FF;
      margin: 0;
      display: inline;
  }

  header a {
      text-decoration: none;
      color: #0000FF;
  }

  header nav{
      float: right;
      margin: 7px 0;
  }

  header nav ul li {
      display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  footer {
      background: #0000FF;
      width: 100%;
      padding: 40px 35px;
  }

  footer h2 {
    display: inline;
    color: #FFD700;
    font-size: 30px;
    margin: 0;
  }
  


  footer div {
      float: right;
      line-height: 1.5;
      text-align: right;
  }

  footer a{
      color: #0000FF;
  }

  section {
    padding: 60px;
  }

  .intro {
    text-align: center;
  }
  
  .intro p {
    line-height: 1.7;
    color: #FFA500;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .section-title {
    font-size: 55px;
    color: #FFA500;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: #FFD700;
  }
  
  .secondary-border {
    border-color: #FFA500;
  }

  .works{
      text-align: center;
  }

  .work {
      width: 900px;
      margin: 0 auto 30px auto;
      background: #FFA500;
      color: #0000FF;
      overflow: auto;
  }

.works img {
    width: 35%;
    float: left;
}

.work-bio h3{
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
}

.work-bio{
    width: 35%;
    float: left;
    width: 65%;
}

.work-bio h3{
    font-size: 32px;
    margin-bottom: 8px;
}



.work-bio p{
    font-size: 17px;
    line-height: 1.3px;
}

.text-right{
    text-align: right;
}
 .text-left {
     text-align: left;
 }